@import './variables.less';
@import './responsive_svg.less';
@import './tooltip.less';
@import './searchbox.less';
@import './legend.less';
@import './annotation.less';
@import './breakpoints.less';

body {
  // normalize for resposive resizing
  // FIXME ?
  margin: 0;
  padding: 0;
}

.simple-charts {
  // wrapper
  &.-centered {
    margin: 0 auto;
  }

  font-family: @body-font;
  position: relative;
  color: @black;

  .axis {
    font-size: 10px;
    font-family: sans-serif;

    .label {
      font-size: @font-size-small;
      font-family: @body-font;
      font-weight: normal;
      fill: black;
    }
  }

  .dot, .bar {
    fill-opacity: .7;

    &:hover {
      fill-opacity: 1;
    }

    &.-hilighted {
      stroke: @black;
      stroke-width: 3px;
    }
  }

  // helpers
  .-hidden {
    display: none;
  }
}
